{{#if extends}}
    <p><strong>Extends</strong> {{#crossLink extends}}{{/crossLink}}</p>
{{/if}}

{{{classDescription}}}

{{#if methods}}
    <div class="category-info">
        <h3 class="category-title">Methods</h3>
    </div>

    <div class="list-view">
        {{#methods}}
            {{>method}}
        {{/methods}}
    </div>
{{/if}}