<ul class="nav nav-stacked">
    {{#classes}}
        <li class="nav-item {% if page.url == '/api/raddish/classes/{{name}}.html' %}active{% endif %}">
            <a href="/api/raddish/classes/{{name}}.html">
                {{displayName}}
            </a>
        </li>
    {{/classes}}
</ul>