<ul>
    {{#classes}}
        <li {% if page.url == '/api/raddish/classes/{{name}}.html' %} class="active" {% endif %}>
            <a href="/api/raddish/classes/{{name}}.html">
                {{displayName}}
            </a>
        </li>
    {{/classes}}
</ul>